<div class="newlyadd-layout">
  <div class="add-form">
    <form method="POST">
      <div class="form-group">
        <label for="inputAddress">餐廳名稱</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="name">
      </div>
      <div class="form-group">
        <label for="inputAddress2">English name</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="name_en">
      </div>
      <div class="form-group">
        <label for="inputState">類別</label>
        <select id="inputState" class="form-control" name="category">
          <option selected hidden>請選擇餐廳種類</option>
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>酒吧</option>
          <option>咖啡</option>
          <option>美式</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputAddress2">地址</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="location">
      </div>
      <div class="form-group">
        <label for="inputAddress2">電話</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="phone">
      </div>
      <div class="form-group">
        <label for="inputAddress2">評分</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="rating">
      </div>
      <div class="form-group">
        <label for="inputAddress2">資訊</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="description">
      </div>
      <div class="form-group">
        <label for="inputAddress2">圖片</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="image">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Google map</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="google_map">
      </div>

      <button type="submit" class="btn btn-primary">送出</button>
    </form>
  </div>
</div>

